<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet dicta quidem ducimus adipisci nemo maxime, quasi impedit minus! Ratione quam, corporis modi fugiat possimus vitae quibusdam adipisci rem praesentium aliquam laboriosam mollitia tempore fuga molestias dolor ad, eius voluptate voluptas?</p>
    </div>
</div>