{{#each msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{text}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore debitis excepturi quis, nisi accusantium impedit dolore dolor voluptas necessitatibus adipisci voluptatem. Iure quos accusamus neque quas pariatur porro illo aspernatur!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, optio doloribus aliquid suscipit esse facilis adipisci enim quisquam, mollitia sit vero obcaecati, ducimus nihil quae beatae autem at id dolores.</p>
    <a href="#" class="btn btn-primary btn-lg">MMDev</a>
</div>